*~
[#]*[#]
*.mp4
.[#]*
.sass-cache
.DS_Store
/build/*/*.zip
/.sencha_backup
/app.js
/app/controller
/app/view
/ux/MoneyField.js
/ux/PhoneField.js
/ux/SelectOtherField.js
/build/production/Purple/archive
/build/production/Purple/deltas
/build/production/Purple/resources
/build/production/Purple/GALocalStorage.js
/build/production/Purple/app.js
/build/production/Purple/app.json
/build/production/Purple/cache.appcache
/build/production/Purple/index.html
/build/production/Purple/util.js
/build/production/isolate
/build/package
/build/temp
/override
/package
/bootstrap.js
/bootstrap.json
/npm-debug.log
/util.js
/availabilities.json