// Picker
//$include-picker-highlights: false;

$base-color: #762B90;
$base-gradient: 'flat';

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Toolbars
@include sencha-toolbar-ui('top-toolbar', #762B90, 'flat');


// Buttons

@include sencha-button-ui('normal', #BCDBF0, 'flat');
@include sencha-button-ui('action', #0073C4, 'flat');

@include sencha-button-ui('top', #B91C8D, 'flat');

@include sencha-button-ui('special', #4CABEF, 'flat');
@include sencha-button-ui('dull', #ccc, 'flat');

@include sencha-button-ui('current', #0073C4, 'flat');
@include sencha-button-ui('incomplete', #FFFFFF, 'flat');
@include sencha-button-ui('complete', #4CABEF, 'flat');



// Icons
@include icon-font('icomoon', inline-font-files(
  'icomoon/icomoon.woff', woff,
  'icomoon/icomoon.ttf', truetype,
  'icomoon/icomoon.svg', svg
));

@include icon("icomoon-brightness-contrast", "\e600", "icomoon");
@include icon("icomoon-volume-medium", "\e601", "icomoon");
@include icon("icomoon-text-height", "\e602", "icomoon");
@include icon("icomoon-question", "\e603", "icomoon");
@include icon("icomoon-spinner", "\e604", "icomoon");
@include icon("icomoon-sound", "\e605", "icomoon");
@include icon("icomoon-sound-alt", "\e606", "icomoon");
@include icon("icomoon-brightness", "\e607", "icomoon");
@include icon("icomoon-brightness-half", "\e608", "icomoon");
@include icon("icomoon-sun", "\e609", "icomoon");
@include icon("icomoon-adjust", "\e60a", "icomoon");
@include icon("icomoon-info", "\e60b", "icomoon");
@include icon("icomoon-info2", "\e60c", "icomoon");
@include icon("icomoon-question2", "\e60d", "icomoon");
@include icon("icomoon-help", "\e60e", "icomoon");
@include icon("icomoon-jared-contrast", "\e610", "icomoon");
@include icon("icomoon-jared-mdstand", "\e611", "icomoon");
@include icon("icomoon-jared-question", "\e612", "icomoon");
@include icon("icomoon-jared-volume", "\e613", "icomoon");
@include icon("icomoon-jared-font-size", "\e60f", "icomoon");



/* OLD

// Picker
//$include-picker-highlights: false;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Toolbars
@include sencha-toolbar-ui('top-toolbar', #0067AF, 'matte');
@include sencha-toolbar-ui('progress-bar', #EEEEEE, 'flat');
.x-toolbar-progress-bar.x-docked-top {
  border-bottom: none !important;
}

// Buttons
@include sencha-button-ui('current', #004B81, 'recessed');
@include sencha-button-ui('incomplete', #0078CC, 'matte');
@include sencha-button-ui('complete', #78a804, 'flat');

// Icons
@include icon-font('icomoon', inline-font-files(
  'icomoon/icomoon.woff', woff,
  'icomoon/icomoon.ttf', truetype,
  'icomoon/icomoon.svg', svg
));

@include icon("icomoon-brightness-contrast", "\e600", "icomoon");
@include icon("icomoon-volume-medium", "\e601", "icomoon");
@include icon("icomoon-text-height", "\e602", "icomoon");
@include icon("icomoon-question", "\e603", "icomoon");
@include icon("icomoon-spinner", "\e604", "icomoon");
@include icon("icomoon-sound", "\e605", "icomoon");
@include icon("icomoon-sound-alt", "\e606", "icomoon");
@include icon("icomoon-brightness", "\e607", "icomoon");
@include icon("icomoon-brightness-half", "\e608", "icomoon");
@include icon("icomoon-sun", "\e609", "icomoon");
@include icon("icomoon-adjust", "\e60a", "icomoon");
@include icon("icomoon-info", "\e60b", "icomoon");
@include icon("icomoon-info2", "\e60c", "icomoon");
@include icon("icomoon-question2", "\e60d", "icomoon");
@include icon("icomoon-help", "\e60e", "icomoon");

*/